<!DOCTYPE html>
<html>
<head>
<title>CMSPortal</title>
<style>
.button {
  font: 20px Roboto;
  text-decoration: none;
  background-color: #333333;
  color: #FFFFFF;
  padding: 2px 6px 2px 6px;

}

.button1 {
  font: 20px Roboto;
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;

}
.button1:hover {background-color: #e7e7e7;}

</style>
</head>
<body>

<div class="button">
<span style="float:left"> <a href="{{ url_for('afteradminloggedin') }}" class="button">Back</a> </span>
<span style="float:right"> <a href="/logout1" class="button">Logout</a> </span><br/>
</div>

<br/><br/>

<center><h2>COMPLAINT HISTORY </h2></center>
<br/><br/>

<center><h3>Pending Complaints </h3></center>
<form action="{{ url_for('afteradminloggedin') }}" style="margin-left:auto;margin-right:auto align='center'">
<center>
  <table border = 6>
    <th>Complaint Id</th>
	 <th>Subject</th>
    <th>Department</th>
    <th>Division</th>
    {% for  row in result %}
    <tr>
      <td> {{ row[0]}}</td>
	    <td> <a href="{{url_for('adminresolvecomplaint',cid = row[0])}}" class="button1">{{row[5]}}</a></td>
      <td> {{ row[3]}} </td>
      <td> {{ row[4]}} </td>
    </tr>
    {% endfor %}
</table>
</center>

<br/><br/>
<center><h3>User Feedback Pending Complaints </h3></center>
<center>
  <table border = 6>
    <th>Complaint Id</th>
	 <th>Subject</th>
    <th>Department</th>
    <th>Division</th>
    {% for  row in resultx %}
    <tr>
      <td> {{ row[0]}}</td>
	    <td> <a href="{{url_for('adminresolvecomplaint',cid = row[0])}}" class="button1">{{row[5]}}</a></td>
      <td> {{ row[3]}} </td>
      <td> {{ row[4]}} </td>
    </tr>
    {% endfor %}
</table>
</center>


<br/><br/>
<center><h3>User Unsatisfied Complaints </h3></center>
<center>
  <table border = 6>
    <th>Complaint Id</th>
	 <th>Subject</th>
    <th>Department</th>
    <th>Division</th>
    {% for  row in resulty %}
    <tr>
      <td> {{ row[0]}}</td>
	    <td> <a href="{{url_for('adminresolvecomplaint',cid = row[0])}}" class="button1">{{row[5]}}</a></td>
      <td> {{ row[3]}} </td>
      <td> {{ row[4]}} </td>
    </tr>
    {% endfor %}
</table>
</center>

<br/><br/>
<center><h3>User Satisfied Complaints </h3></center>
<center>
  <table border = 6>
    <th>Complaint Id</th>
	 <th>Subject</th>
    <th>Department</th>
    <th>Division</th>
    {% for  row in resultz %}
    <tr>
      <td> {{ row[0]}}</td>
	    <td> <a href="{{url_for('adminresolvecomplaint',cid = row[0])}}" class="button1">{{row[5]}}</a></td>
      <td> {{ row[3]}} </td>
      <td> {{ row[4]}} </td>
    </tr>
    {% endfor %}
</table>
</center>


</form>



</body>
</html>
