<!DOCTYPE html>
<html>
<head>
<title>CMSPortal</title>
<style>
.button {
  font: 20px Roboto;
  text-decoration: none;
  background-color: #333333;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;

}
.button1 {
  font: 20px Roboto;
  text-decoration: none;
  color: #333333;
  padding: 2px 6px 2px 6px;

}

</style>
</head>
<body>


<div class="button">
<span style="float:left"> <a href="{{ url_for('afteradminloggedin') }}" class="button">Back</a> </span>
<span style="float:right"> <a href="/logout1" class="button">Logout</a> </span><br/>
</div>

<br/><br/>

<center>COMPLAINT HISTORY </center>
<br/><br/>

<!-- <form action = "/cgi-bin/hello_get.cgi" method = "get"> -->
<form action="{{ url_for('afteradminloggedin') }}" style="margin-left:auto;margin-right:auto align='center'">
<center>
  <table border = 5>
    <th>Complaint Id</th>
	 <th>Subject</th>

    <th>Department</th>
    <th>Division</th>
    {% for  row in result %}
    <tr>
      <th> {{ row[0]}}</th>
	        <td> <a href="{{url_for('adminresolvecomplaint',cid = row[0])}}" class="button1">{{row[5]}}</a></td>

      <th> {{ row[3]}} </th>
      <th> {{ row[4]}} </th>
    </tr>
    {% endfor %}
  </table>
</center>
</form>
<!-- </form> -->


</body>
</html>
