<!DOCTYPE html>
<html>
<head>
<title>CMSPortal</title>
<style>
.button {
  font: 20px Roboto;
  text-decoration: none;
  background-color: #333333;
  color: #FFFFFF;
  padding: 2px 6px 2px 6px;
}

</style>

</head>
<body>


<div class="button">
<span style="float:left"> <a href="{{ url_for('admincomplainthistory') }}" class="button">Back</a> </span>
<span style="float:right"> <a href="/logout1" class="button">Logout</a> </span><br/>

</div>

<br/><br/><center>
<table  border = 1 >
  <tr>
    <th>Department</th>
    <td>{{result["dept"]}}</td>
  </tr>
  <tr>
    <th>Division</th>
    <td>{{result["division"]}}</td>
  </tr>
  <tr>
    <th>Description of Complaint</th>
    <td>{{result["complaint"]}}</td>
  </tr>
</table>
<br/>
<!-- <form action = "/cgi-bin/hello_get.cgi" method = "get"> -->
<!--
<label for="dept">Department:</label>
<input type="text" name = "dept" value = "{{result["dept"]}}" readonly><br/><br/>
<label for="division">Division:</label>
<input type="text" name = "division" value = "{{result["division"]}}" readonly><br/><br/>
<label for="complaint">Description of Complaint:</label>
<input type="text" name = "complaint" value = "{{result["complaint"]}}" readonly><br/><br/>

<!-- <input type="text" name = "complaint" value = "{{result["complaint"]}}" readonly> -->

<form  action = "{{url_for('adminchangestatus',cid = result["cid"])}}" Method = "POST"  >
  Is the Complaint Resolved?
  <input type="radio" id="yes" name="statusadmin" value="Resolved">
  <label for="yes">Yes</label><br/><br/>
  <input type="submit" value="Submit">
</form><!-- </form> -->

</center>
</body>
</html>
