<!DOCTYPE html>
<html>
<head>
<title>CMSPortal</title>
<style>
.button {
  font: 20px Roboto;
  text-decoration: none;
  background-color: #333333;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;
}
.button:hover {background-color: #e7e7e7;}
.button1 {
  font: 20px Roboto;
  text-decoration: none;
  background-color: #333333;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;
}

</style>
</head>
<body>

<div class="button1">
<span>CMS </span>
<span style="float:right"> <a href="/logout2" class="button1">Logout</a> </span><br/>
</div>

<br/><br/>
    <div>{% include 'alert1.html'%}</div>


<center>WELCOME!!</center>

<br/><br/><br/><br/>

    <center> <a href="{{ url_for('superadmin_addadmin') }}" class="button">Add Admin</a></span></center><br/>
    <center><a href="{{ url_for('superadmin_removeadmin') }}" class="button">Remove Admin</a></span></center><br/>
    <center><a href="{{ url_for('superadmin_adddivision') }}" class="button">Add Division</a></span></center><br/>
	<center><a href="{{ url_for('superadmin_removedivision') }}" class="button">Remove Division</a></span></center><br/>
    <center><a href="{{ url_for('superadmin_adddepartment') }}" class="button">Add Department</a></span></center><br/>
	<center><a href="{{ url_for('superadmin_removedepartment') }}" class="button">Remove Department</a></span></center><br/>
	<center> <a href="{{url_for('superadminsettings')}}" class="button">Account Settings</a> </span> </center><br/>
  <center> <a href="{{url_for('superadminprofileinfo')}}" class="button">Profile Information</a> </span> </center><br/>
<center> <a href="{{url_for('superadminchangepassword')}}" class="button">Change Password</a> </span> </center>
<br/>



<center> <a href="/display_deptwise_heads" class="button">View All Admins</a> </span> </center>




</body>
</html>
