<!DOCTYPE html>
<html>
<head>
<title>CMSPortal</title>
<style>
.button {
  font: 20px Roboto;
  text-decoration: none;
  background-color: #333333;
  color: #FFFFFF;
  padding: 2px 6px 2px 6px;
}
</style>

</head>
<body>


<div class="button">
<span style="float:left"> <a href="{{ url_for('userhistory') }}" class="button">Back</a> </span>
<span style="float:right"> <a href="/logout" class="button">Logout</a> </span><br/>

</div>

<br/><br/>

<!-- <form action = "/cgi-bin/hello_get.cgi" method = "get"> -->
<center>
<table  border = 1 >
  <tr>
    <th>Department</th>
    <td>{{result["dept"]}}</td>
  </tr>
  <tr>
    <th>Division</th>
    <td>{{result["division"]}}</td>
  </tr>
  <tr>
    <th>Description of Complaint</th>
    <td>{{result["complaint"]}}</td>
  </tr>
  <tr>
    <th>Status from Admin</th>
    <td>{{result["statusquoadmin"]}}</td>
  </tr>

</table>
<br/>
<!--
<br/>
<label for="dept">Department:</label>
<input type="text" name = "dept" value = "{{result["dept"]}}" readonly>
<br/>
<label for="division">Division:</label>
<input type="text" name = "division" value = "{{result["division"]}}" readonly>
<br/>
<br/>
<label for="complaint">Description of Complaint:</label>
<input type="text" name = "complaint" value = "{{result["complaint"]}}" readonly>
<br/>
<br/>
<label for="statusquoadmin">Status from Admin:</label>
<input type="text" name = "statusquoadmin" value = "{{result["statusquoadmin"]}}" readonly>
<br/>
<!-- <input type="text" name = "complaint" value = "{{result["complaint"]}}" readonly> -->
<!-- <center> : <label for="userfeedback">User Feedback:</label>
<input type="text" name = "userfeedback" value = "{{result["statusquo"]}}" readonly>
<br/> </center> -->


<form  action = "{{url_for('userchangestatus',cid = result["cid"])}}" Method = "POST"  >
  Your Feedback : 
  <input type="radio" id="yes" name="statususer" value="Satisfactory">
  <label for="yes">Satisfactory</label>
  <input type="radio" id="no" name="statususer" value="Not upto the mark">
  <label for="no">Un-satisfactory</label><br/><br/>
  <input type="submit" value="Submit">
</form>

<!-- <form>
  <input type="radio" id="yes" name="status" value="yes">
  <label for="yes">Yes</label>
  <input type="radio" id="no" name="status" value="no">
  <label for="no">No</label><br/>
  <input type="submit" value="Submit">
</form>
<!-- <table border = 1>
  <tr>
    <th> <input type="text" name = "complaint" value = "{{result["complaint"]}}" readonly> </th>
  </tr>
</table>

<br/> -->
<!-- <textarea id="myTextarea" readonly>
342 Alvin Road
Ducksburg</textarea> -->

<!-- <p id="demo"></p>

</center>
<script>
function called() {
  var x = document.getElementById("myTextarea").value;
  document.getElementById("demo").innerHTML = x;
}
</script>
 --><!-- <center>
<label for="complaint">Here's the complaint:</label><br/>
<script> myFunction() </script>

<script>
function myFunction() {
var x = document.createElement("TEXTAREA");
var t = document.createTextNode("Here's the complaint");
x.appendChild(t);
document.body.appendChild(x);
</script>
<br/>

</center> -->
<!-- </form> -->


</body>
</html>
<!-- <textarea rows = "10" cols = "60" value = "{{result["complaint"]}}" readonly> </textarea>  -->
