<!DOCTYPE html>
<html>
<head>
<title>CMSPortal</title>
<style>
.button {
  font: 20px Roboto;
  text-decoration: none;
  background-color: #333333;
  color: #EEEEEE;
  padding: 2px 6px 2px 6px;

}
</style>
</head>
<body>


<div class="button">
<span style="float:left"> <a href="{{ url_for('afteruserloggedin') }}" class="button">Back</a> </span>
<span style="float:right"> <a href="/logout" class="button">Logout</a> </span><br/>
</div>

<br/><br/>

<center>PROFILE INFORMATION</center>
<br/><br/>

<!-- <form action = "/cgi-bin/hello_get.cgi" method = "get"> -->
<form action="{{ url_for('afteruserloggedin') }}" style="margin-left:auto;margin-right:auto align='center'">
<center>
<table>
  <tr>
    <td><label for="fname">First name:</label></td>
    <td><input type="text" name = "fname" value = "{{result["first_name"]}}" readonly> </td>
   <!--  <td><input type="text" id="fname" name="fname" placeholder="your first name"></td> -->
  </tr>
  <tr>
    <td><label for="lname">Last name:</label></td>
    <td><input type="text" name = "lname" value = "{{result["last_name"]}}" readonly> </td>
  </tr>
  <tr>
    <td><label for="age">Age:</label></td>
    <td><input type="text" name = "age" value = "{{result["age"]}}" readonly> </td>
  </tr>
</center>
</table>
</form>


</body>
</html>
