{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
CMSPortal
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
<style>
.button {
  font: 20px Roboto;
  text-decoration: none;
  background-color: #333333;
  color: #FFFFFF;
  padding: 2px 6px 2px 6px;
}
</style>

<div class="button">
<span style="float:left"> <a href="{{ url_for('afteruserloggedin') }}" class="button">Back</a> </span>
<span style="float:right"> <a href="/logout" class="button">Logout</a> </span><br/>

</div>
<br/><br/>
<center>Select the department</center><br/>
<form action="{{ url_for('userlodgecomplaint2') }}"  method = "POST"  align="center ">
{% if(result) %}
<select name="dept">
{% for dept in result %}
<option value="{{ dept[0] }}"> {{ dept[0] }}</option>
{% endfor %}
</select>
<input type="submit">
{% endif %}


{% endblock %}
